.white-bg {
    background-color: white;
}

form#filter {
   min-height: 100%;

}
/*
.filter{
   !* height: 100%;*!
}

#filter-button{
  height: 100%;

}*/

#filter-button,#clearFilter-button{

    display: inline-block;
    float: left;

  /* padding-top: 20px;*/
   /* padding-bottom: 2%;*/
}