.white-bg {
    background-color: white;
}

form#filter {
    min-height: 10px;
}

.filter {
    height: 100%;
}

#filter-button {
    height: 100%;
}

.profit-loss-positive {
    color: green;
}

.profit-loss-negative {
    color: red;
}