/*
Leaderboard CSS
Author: Panhaseth Heang
Edited by: Daniel Bellino
Date: 03/06/2018
*/

div.buy-box, div.sell-box{
    padding: 5px 20px 5px 20px;
    color: black;
    background-color:rgba(255,255,255,0.8);
    width: 420px;
    margin: 0px auto;

    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

div.row p{
    color:black;
    font-weight: bold;
    font-family: Courier;
}

div.buy-box p, div.sell-box p{
    color:rgba(0,0,0,0.6);
    margin:auto;
    font-weight:normal;
}

div.pad-box{
    width: 50%;
    padding: 0px 0px 0px 0px;
    margin: 120px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: inline-flex;
}

div.noPad{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

#buy-button{
    width: 100%;
    background-color: rgb(30, 206, 86);
    color: white;
    margin: 10px 0px 15px 0px;
    transition: background-color 0.2s ease-in-out;
}
#buy-button:hover {
    background-color: rgb(23, 168, 69);
}
#sell-button{
    width: 100%;
    background-color: rgb(224, 54, 42);
    color: white;
    margin: 10px 0px 15px 0px;
    transition: background-color 0.2s ease-in-out;
}
#sell-button:hover {
    background-color: rgb(191, 41, 22);
}
#sell-button h3, #buy-button h3 {
    margin-top: 12px;
}
div.container{
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
div.pull-right {
    margin-left: 140px;
}
div.pull-left {
    margin-right: 140px;
}