div.buy-box, div.sell-box{
    padding: 5px 20px 5px 20px;
    color: black;
    background-color:rgba(255,255,255,0.8);
    width: 80%;
    margin:auto;

    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

div.row p{
    color:black;
    font-weight: bold;
    font-family: Courier;
}

div.buy-box p, div.sell-box p{
    color:rgba(0,0,0,0.6);
    margin:auto;
    font-weight:normal;
}

div.pad-box{
    padding: 0px 5px 0px 0px;
    margin: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

div.noPad{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

#buy-button{
    width: 100%;
    background-color: cornflowerblue;
    color: white;
}
#sell-button{
    width: 100%;
    background-color: mediumvioletred;
    color: white;
}
div.container{
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
