#container {
    border: 1px solid red;
}
.nav_item {
    margin-top: 10px;
}
#auth_box {
    border: 1px solid black;
    width: 400px;
    max-height: 950px;
    margin: 150px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 14px -1px rgba(0,0,0,0.75);
}
#auth_logo {
    height: 160px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(235,235,235);
}
#auth_logo p {
    text-align: center;
    padding-top: 60px;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: monospace;
    font-size: 36px;
    color: rgb(50,50,50);
}
#tabs button {
    height: 55px;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: monospace;
    font-size: 16px;
    border-style: none;
    outline: none;
    color: rgb(200,200,200);
    cursor: pointer;
    background-color: rgb(255,255,255);
    border-bottom: 2px solid rgb(235,235,235);
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}
#tabs button:hover {
    color: rgb(130,130,130);
    border-bottom: 2px solid rgb(130,130,130);
}
#login_tab {
    width: 50%;
}
#signup_tab {
    width: 50%;
}
#pane {
    width: 100%;
    height: 100%;
    margin-top: -35px;
}