#login_div {
    height: 100%;
    display: block;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(255,255,255);
}
form {
    min-height: 281px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.form-control:valid~.invalid-feedback {
    display: none;
}
#login_error {
    width: 90%;
    height: 50px;
    color: rgb(214,21,21);
    margin: 0px auto -30px auto;
    padding-top: 37px;
}
#login_error p {
    font-family: monospace;
    font-size: 16px;
    color: rgb(214,21,21);
    padding: 20px 0px 0px 40px;
}
#login-email {
    width: 90%;
    height: 50px;
    font-family: monospace;
    font-size: 16px;
    margin: 80px 20px 15px 20px;
    padding: 0px 20px;
    border-radius: 2px;
    background-color: rgb(220,220,220);
    border-style: none;
}
#login-password {
    width: 90%;
    height: 50px;
    font-family: monospace;
    font-size: 16px;
    margin: 3px 20px 10px 20px;
    padding: 0px 20px;
    border-radius: 2px;
    background-color: rgb(220,220,220);
    border-style: none;
}
#help-block-1 {
    width: 90%;
    font-family: monospace;
    margin: 0px 20px;
    padding: 3px 2px;
    position: relative;
    top: -5px;
    color: rgb(214,21,21);
}