#signup_div {
    height: 100%;
    display: block;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(255,255,255);
}
#firstname {
    width: 90%;
    height: 50px;
    font-family: monospace;
    font-size: 16px;
    margin: 80px 20px 15px 20px;
    padding: 0px 20px;
    border-radius: 2px;
    background-color: rgb(220,220,220);
    border-style: none;
}
#lastname {
    width: 90%;
    height: 50px;
    font-family: monospace;
    font-size: 16px;
    margin: 2px 20px 15px 20px;
    padding: 0px 20px;
    border-radius: 2px;
    background-color: rgb(220,220,220);
    border-style: none;
}
#email {
    width: 90%;
    height: 50px;
    font-family: monospace;
    font-size: 16px;
    margin: 2px 20px 15px 20px;
    padding: 0px 20px;
    border-radius: 2px;
    background-color: rgb(220,220,220);
    border-style: none;
}
#password {
    width: 90%;
    height: 50px;
    font-family: monospace;
    font-size: 16px;
    margin: 2px 20px 15px 20px;
    padding: 0px 20px;
    border-radius: 2px;
    background-color: rgb(220,220,220);
    border-style: none;
}
#help-block-1 {
    width: 90%;
    font-family: monospace;
    font-size: 12px;
    margin: 0px 20px;
    padding: 3px 2px;
    position: relative;
    top: -5px;
    color: rgb(214,21,21);
}
#submit {
    width: 100%;
    height: 80px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: monospace;
    font-size: 24px;
    background-color: rgb(91, 177, 255);
    border-style: none;
    cursor: pointer;
    margin-top: 21px;
}
#input_div {
    max-height: 170px;
    border: 1px solid rgb(255,255,255);
}