table th{
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}

#leaderboard{
    color: white;
    font-family: Athelas;
    font-size: 2em;
}

#filter-time{
    color: white;
    font-size: 20px;
}

Tab{
    font-size: 2em;
}