table th{
    font-size: 2em;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}

table td{
    font-size: 2em;
}

#profit{
    color: green;
}

#loss{
    color: red;
}

#leaderboard{
    color: white;
    font-family: Athelas;
    font-size: 2em;
}

#filter-time{
    color: white;
    font-size: 20px;
}

@media (min-width: 960px){
    span .MuiTab-label-60 .MuiTab-label-56{
        font-size: 1.2em;
    }
}
span .MuiTab-label-60 .MuiTab-label-56{
    font-size: 1.2em;
}
